@model MvcDemo.ViewModel.ClientUpdateVm

@{
    ViewBag.Title = "Update Client";
    Layout = "_Layout";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Update Client</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <form asp-controller="Client" asp-action="Update" method="post">
                    <div class="form-group">
                        <label asp-for="ClientName"></label>
                        <input type="text" asp-for="ClientName" class="form-control form-control-sm">
                    </div>  
                    <div class="form-group">
                        <label asp-for="Product"></label>
                        <input type="text" asp-for="Product" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input type="text" asp-for="Address" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label asp-for="ClientDate"></label>
                        <input type="text" asp-for="ClientDate" class="form-control form-control-sm">
                    </div>
                    <button class="btn btn-success btn-sm">
                        <span class="fa fa-check-circle"></span>Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>